.stat-banner {
  &__wrapper {
    box-sizing: border-box;
    width: 100%;
    background: $background-color;
    padding: 1em;

    @if $plugin-outlet == "above-main-container" {
      margin-bottom: 1em;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      gap: 12px;
      margin: 0;
      width: 100%;
      min-height: 2.8em;

      @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      white-space: nowrap;
      overflow: hidden;

      > * {
        display: flex;
        align-items: center;
        gap: 0.5em;
        min-width: 0;
        color: $text-color;
      }

      a span:last-of-type {
        text-decoration: underline;
      }
    }

    span {
      flex: 0 1 auto;

      @include ellipsis;
    }

    span:first-child {
      font-size: var(--font-up-5);
      flex: 0 0 auto;
    }

    span:last-child {
      font-size: var(--font-down-1);
      flex: 0 1 auto;
    }
  }

  &__title {
    text-align: center;
    font-size: var(--font-up-2);
    margin-bottom: 0.5em;
  }

  &__item-wrapper {
    flex-direction: column;
  }
}
